<div class="review">
  <div class="review-rating" data-score="<%= review.rating %>"></div>
  <p class="review-comment"><%= review.comment %></p>

  <% if user_signed_in? %>
    <% if review.user_id.eql?(current_user.id) %>

      <div class="links btn-group">
        <%= link_to 'Edit', edit_book_review_path(review.book, review), class: "btn btn-custom" %>
        <%= link_to 'Delete', book_review_path(review.book, review), class: "btn btn-custom", data: { confirm: "Are You Sure..?" }, method: :delete %>
      </div>

    <% end %>
  <% end %>
</div>
